<div class="invoice-box">
    <table>
        <tr class="top">
            <td colspan="2" style="padding-left: 0%; padding-right: 0%;">
                <table>
                    <tr>
                        <td class="title">
                            <img src="../assets/imagenes/resumen-logo-mercantil-andina.jpg" alt="Mercantil"
                                style="width: 100%;object-fit: cover;height: 100px;" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!--DATOS PERSONALES-->
        <table>
            <tr class="heading">
                <td>Datos personales</td>
            </tr>
            <div class="row">
                <div class="col-6">
                    <tr class="item">
                        <td>Apellido</td>
                        <td>Dimasi</td>
                    </tr>
                    <tr class="item">
                        <td>Nombre</td>
                        <td>Dimasi</td>
                    </tr>
                    <tr class="item">
                        <td>DNI</td>
                        <td>Dimasi</td>
                    </tr>
                    <tr class="item">
                        <td>Email</td>
                        <td>Dimasi</td>
                    </tr>
                    <tr class="item">
                        <td>Fecha de nacimiento</td>
                        <td>Dimasi</td>
                    </tr>
                </div>
                <div class="col-6">
                    <tr class="item">
                        <td>Celular</td>
                        <td>Dimasi</td>
                    </tr>
                    <tr class="item">
                        <td>Teléfono</td>
                        <td>Dimasi</td>
                    </tr>
                    <tr class="item">
                        <td>Provincia</td>
                        <td>Dimasi</td>
                    </tr>
                    <tr class="item">
                        <td>Ciudad</td>
                        <td>Dimasi</td>
                    </tr>
                    <tr class="item">
                        <td>Domicilio</td>
                        <td>Dimasi</td>
                    </tr>
                </div>
            </div> <br>
            <!--VEHICULO-->
            <tr class="heading">
                <td>Datos de vehículos</td>
            </tr>
            <tr class="item">
                <td>Marca</td>
                <td>$300.00</td>
            </tr>
            <tr class="item">
                <td>Año</td>
                <td>$75.00</td>
            </tr>
            <tr class="item last">
                <td>Modelo</td>
                <td>$10.00</td>
            </tr>
            <tr class="item last">
                <td>Vehículo</td>
                <td>$10.00</td>
            </tr> <br>
            <!--COBERTURA-->
            <tr class="heading">
                <td>Cobertura</td>
            </tr>
            <tr class="item">
                <td>Código</td>
                <td>$300.00</td>
            </tr>
            <tr class="item">
                <td>Producto</td>
                <td>$300.00</td>
            </tr>
            <tr class="item">
                <td>Costo</td>
                <td>$300.00</td>
            </tr>
            <tr class="item">
                <td>Granizo</td>
                <td>$300.00</td>
            </tr>
            <tr class="item">
                <td>Franquicia</td>
                <td>$300.00</td>
            </tr>
            <tr class="item">
                <td>Puntaje</td>
                <td>$300.00</td>
            </tr>
            <tr class="item">
                <td>Descripción</td>
                <td>$300.00</td>
            </tr> <br>
        </table>
        <tr class="confirmarDatos">
            <td>
                <button type="submit" class="btn btn-login float-right btn btn-info" (click)="openPopUpConfirmed()">ENVIAR</button>
                <button type="submit" class="btn btn-login float-left btn btn-info">VOLVER</button>
            </td>
        </tr>
    </table>
</div>