<div class="resumen">
    <div>
        <img src="../assets/imagenes/resumen-logo-mercantil-andina.jpg" alt="Mercantil"
            style="width: 100%;object-fit: cover;height: 100px;" />
        <!--DATOS PERSONALES-->
        <div><br>
            <div class="heading">
                <h6><strong>Datos personales</strong></h6>
            </div>
            <hr>
            <div class="row">
                <div class="col-8">
                    <p><strong>Apellido: </strong>{{resumen.datosPersonales.apellido}}</p>
                    <p><strong>Nombre: </strong>{{resumen.datosPersonales.nombre}}</p>
                    <p><strong>Dni: </strong>{{resumen.datosPersonales.dni}}</p>
                    <p><strong>Email: </strong>{{resumen.datosPersonales.email}}</p>
                    <p><strong>Fecha de nacimiento: </strong>
                        {{resumen.datosPersonales.fechaNac.day}}/{{resumen.datosPersonales.fechaNac.month }}/{{resumen.datosPersonales.fechaNac.year }}</p>
                </div>
                <div class="col-4">
                    <p><strong>Celular: </strong>{{resumen.datosPersonales.celular}}</p>
                    <p><strong>Teléfono: </strong>{{resumen.datosPersonales.telefono}}</p>
                    <p><strong>Provincia: </strong>{{resumen.datosPersonales.provincia}}</p>
                    <p><strong>Ciudad: </strong>{{resumen.datosPersonales.ciudad}}</p>
                    <p><strong>Domicilio: </strong>{{resumen.datosPersonales.domicilio}}</p>
                </div>
            </div><br>
            <!--VEHICULO-->
            <div class="heading">
                <h6><strong>Datos de vehículos</strong></h6>
            </div>
            <hr>
            <div class="row">
                <div class="col-8">
                    <p><strong>Marca: </strong> </p>
                    <p><strong>Año: </strong></p>
                    <p><strong>Modelo: </strong></p>
                    <p><strong>Version: </strong></p>
                </div>
                <div class="col-4">
                    <p>{{resumen.datosVehiculo.marca}}</p>
                    <p>{{resumen.datosVehiculo.anio}}</p>
                    <p>{{resumen.datosVehiculo.modelo}}</p>
                    <p>{{resumen.datosVehiculo.version}}</p>
                </div>
            </div><br>
            <!--COBERTURA-->
            <div class="heading">
                <h6><strong>Cobertura</strong></h6>
            </div>
            <hr>
            <div class="row">
                <div class="col-8">
                    <p><strong>Código: </strong> </p>
                    <p><strong>Producto: </strong></p>
                    <p><strong>Costo: </strong></p>
                    <p><strong>Granizo: </strong></p>
                    <p><strong>Franquicia: </strong></p>
                    <p><strong>Puntaje: </strong></p>
                </div>
                <div class="col-4">
                    <p>{{resumen.cobertura.codigoProducto}}</p>
                    <p>{{resumen.cobertura.producto}}</p>
                    <p>${{resumen.cobertura.costo}}</p>
                    <p>{{resumen.cobertura.granizo | yesNo}}</p>
                    <p>${{resumen.cobertura.franquicia}}</p>
                    <p>{{resumen.cobertura.puntaje}}</p>
                </div>
                <p style="text-align: left;">{{resumen.cobertura.descripcion}}</p>
                <br>
            </div>
            <div class="confirmarDatos">
                <button type="submit" class="btn btn-login float-right btn btn-info"
                    (click)="openPopUpConfirmed()">ENVIAR</button>
                <button type="submit" class="btn btn-login float-left btn btn-info" (click)="volver()">VOLVER</button>
            </div>
        </div>
    </div>